<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
<h1>Welcome to...</h1>
<img th:src="@{/images/TacoCloud.png}" th:width="300"/>

<form method="POST" th:object="${taco}">

    <div class="grid">
        <div class="ingredient-group" id="wraps">
            <h3>Designate your wrap</h3>
            <div th:each="ingredient : ${wrap}">
                <input type="checkbox" name="ingredients" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span>
            </div>
        </div>

        <div class="ingredient-group" id="proteins">
            <h3>Pick your protein</h3>
            <div th:each="ingredient : ${protein}">
                <input type="checkbox" name="ingredients" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span>
            </div>
        </div>

        <div class="ingredient-group" id="veggies">
            <h3>Determine your veggies</h3>
            <div th:each="ingredient : ${veggies}">
                <input type="checkbox" name="ingredients" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span>
            </div>
        </div>

        <div class="ingredient-group" id="cheese">
            <h3>Choose your cheese</h3>
            <div th:each="ingredient : ${cheese}">
                <input type="checkbox" name="ingredients" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span>
            </div>
        </div>

        <div class="ingredient-group" id="sauce">
            <h3>Select your sauce</h3>
            <div th:each="ingredient : ${sauce}">
                <input type="checkbox" name="ingredients" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span>
            </div>
        </div>

    </div>

    <br>

    <div>
        <h3>Name your taco creation</h3>
        <input type="text" th:name="name" id="name" />
        <br />
        <button>Submit your taco</button>
    </div>


</form>
</body>
</html>